@import "tailwindcss";

:root {
  --background: #e3e3e3;
  --foreground: #1c1c1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --foreground: #e3e3e3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), "monospace";
}

.field {
  position: relative;
  padding-left: 1rem;
}

.field::before {
  content: "";
  position: absolute;
  left: 0;
  opacity: 0;
}

.field:focus-within::before {
  content: ">";
  opacity: 1;
}

.field input {
  outline: none;
}

.field button:focus {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 2px;
}
