@import "tailwindcss";

:root {
  --light: #e3e3e3;
  --dark: #1c1c1c;

  --background: var(--light);
  --foreground: var(--dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --foreground: var(--light);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), "monospace";
}

input {
  border: none;
  border-bottom: 1px solid var(--foreground);
  outline: none;

  background-image: linear-gradient(var(--foreground), var(--foreground));
  background-size: 0% 2px;
  background-position: center bottom;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}

input:focus {
  background-size: 100% 2px;
}

button {
  background: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:active {
  background: var(--foreground);
  color: var(--background);
  transform: scale(0.97);
}
